* {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !important;
  outline: 0;
  -webkit-font-smoothing: antialiased;
}
html, body {
  height: 100%;
  background: #000;
}
svg{
  cursor: pointer;
}
svg:hover{
  fill: red;
}

#root {
  height: 100%;
  display: flex;
  align-items: center;
}
.tweet-container{
  transform: translate(25%);
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  

}
.tweet{
  height: fit-content;
  border: 1px solid gray;
  width: 600px;
  margin: 25px auto;
  padding: 0 16px;
  transform: translate(25%);
}
.tweet-author{
  height: 48px;
  margin-top: 12px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: 15px;
}
img{
  width: 48px;
  margin-right: 12px;
  border: 50%;
}
.name{
  color: white;
  font-weight: 700px;
}
.username{

  color:gray
}
.tweet-content{
  padding-top: 12px;
}
.tweet-content p{
      font-size: 23px;
      line-height: 28px;
      color: #fff;
      overflow: hidden;
}
.tweet-stats{
  height: 53px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #6e767d;
    border-top: 1px solid #2f3336;
}
.tweet-stats b{
  color: white;
}
.tweet-stats span:not(:last-child) {
  margin-right: 20px;
}
.tweet-actions {
  height: 48px;
  display: flex;
  border-top: 1px solid #2f3336;
  color: #fff;
  align-items: center;
  justify-content: space-around;
}
.name{
  display: flex;
  align-items: center;
}
.name svg{
  margin-left: 5px;
}
.tweet-settings{
  color: white;
}
label {
  font-size: 15px;
  margin-bottom: 5px;
  display: block;
  color: #6e767d;
}
li:not(:last-child) {
  margin-bottom: 20px;
}
h1{
  margin-bottom: 20px;
}
input {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #2f3336;
  color: #fff;
  padding: 10px 0 15px;
  font-size: 15px;
 
}
input:focus,input:hover{
  border-color: #4e555a;
}
textarea {
  width: 100%;
  background: transparent;
  border-bottom: 1px solid #2f3336;
  color: #fff;
  padding: 10px 0 15px;
  font-size: 15px;
  line-height: 1.5;
  resize: none;

}
textarea:focus{
  border-color: #4e555a;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tweet-content span{
  color: rgb(116, 116, 191);
}
#sub{
  background-color: #5598d3;
  padding: 10px 20px;
}
#sub p{
  text-orientation:upright;
}